// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table th {
    background-color: #ffdfdf;
    border: solid 1px black;
    padding: 10px 20px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
table td {
    background-color: #f1c8c861;
    text-align: center;
    border: solid 1px black;
    padding: 10px 20px;
   
}
td {
    display: table-cell;
    vertical-align: inherit;
}
table {
    border-collapse: collapse;
}
.start{
    padding: 0px 44px;
    
}
.end{
    padding: 0px 43px;
}
.time{
    padding: 0px 30px;
}
.id{
    padding: 0px 21.5px;
}
.title{
    padding: 0px 29px;
}
.endday{
    padding: 0px 13px;
}